<button
  class="<%= classes %> flex items-center justify-center gap-2"
  <%= "disabled" if @disabled %>
>
  <% if @icon && @icon_position == :left %>
    <%= heroicon(@icon, type: @type, class: "#{icon_classes} #{icon_margin}") %>
  <% end %>

  <%= @label %>

  <% if @icon && @icon_position == :right %>
    <%= heroicon(@icon, type: @type, class: "#{icon_classes} #{icon_margin}") %>
  <% end %>
</button>
